@import 'shared.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

.outer {
  width: 100%;
  overflow: hidden;
}

.outer-img {
  height: auto;
  width: 100%;
  position: absolute;
}

.content {
  position: relative;
  max-width: 1176px;
  margin: 0 auto;
  z-index: 1;
  padding: 13.8vw 16px 0 16px;
  box-sizing: content-box;
}

.content:after {
  content: "";
  height: 1200px;
  width: 205vw;
  background-color: #ff5758;
  border-radius: 50%;
  filter: blur(72px);
  position: absolute;
  bottom: -100px;
  left: -100vw;
  z-index: 1;
  transform: rotate3D(0, 0, 1, 180deg);
}

footer {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
  background: #FAFAFA;
}

.footer-wrapper {
  max-width: 1176px;
  width: 100%;
  z-index: 1;
  padding: 64px 16px 120px 16px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-text {
  color: #292929;
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.14px;
  max-width: 576px;
}

.footer-content {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  size: 25px;
}

.btn-about {
  display: inline-flex;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid #0F0F0F;
  gap: 10px;
  color: #0F0F0F;
  font-family: Public Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.p {
  color: #0f0f0f;
  font-family: Public Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.18px;
}

.bold {
  font-weight: 700;
}

.content-text {
  z-index: 2;
  bottom: 0;
  display: grid;
  gap: 24px;
  width: 100%;
  display: inline-flex;
  margin-bottom: 40px;
}

.content-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  bottom: 0;
  padding-right: 24px;
  padding-left: 24px;
  width: auto;
  margin: 0 auto;
  gap: 24px;
  margin-bottom: 80px;
}

.content-info__partners {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.content-info__partners .p {
  font-size: 16px;
  font-style: normal;
  color: #0f0f0f;
  text-align: right;
  font-weight: 700;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.16px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #fff;
  font-family: Public Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
  border: 1px solid #0f0f0f;
  background: #0f0f0f;
  padding: 14px 17px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  width: 240px;
  justify-content: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.btn--speech {
  background-color: transparent;
  color: #0f0f0f
}

.quote {
  color: #737373;
  text-align: right;
}

.quote__text {
  font-family: Piazzolla;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
}

.quote__author {
  margin-top: 12px;
  font-family: Public Sans;
  line-height: 20px;
}

.swiper {
  width: 35%;
  margin-left: 15%;
  height: 30vh;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  z-index: 10;
  padding-bottom: 120px;
}

.swiper-slide-prev {
  opacity: 0.5;
}

.swiper-backface-hidden .swiper-slide {
  height: auto !important;
  margin-bottom: 40px !important;
}

.swiper>.swiper-wrapper {
  transition-timing-function: linear;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote-reviews {
  backdrop-filter: blur(4.5px);
  background: rgba(255, 251, 250, 0.60);
  position: relative;
  z-index: 1;
}

.quote-reviews-wrapper {
  max-width: 1176px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 80px 16px;
}

.quote-reviews-title {
  color: var(--grey-950, #0F0F0F);
  text-align: center;
  font-family: Public Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -3.84px;
  margin-bottom: 60px;
}

.quote-reviews-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 56px 48px;
}

.quote-review-text {
  color: var(--grey-950, #0F0F0F);
  font-family: Piazzolla;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 32px;
}

.quote-review-author {
  padding: 16px 24px;
  max-width: 336px;
}

.quote-review-author-name {
  color: var(--grey-900, #141414);
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 4px;
}

.quote-review-author-position {
  color: var(--grey-600, #525252);
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 992px) {

  .content-bottom,
  .content-info {
    flex-direction: column;
  }

  .content-bottom {
    padding-bottom: 72px;
  }

  .content-text,
  .content-info {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }

  .content-text {
    margin-bottom: 0;
  }

  .content {
    bottom: 16px;
    padding: 31vw 16px 0 16px;
  }

  .content:after {
    height: 1300px;
    bottom: -700px;
    width: 300vw;
  }

  .btn {
    width: 100%;
    justify-content: center;
    max-width: 600px;
    font-size: 18px;
  }

  .content-info {
    margin-top: 24px;
    gap: 16px;
    margin-bottom: 40px;
  }

  .p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
  }

  .content-info__partners .p {
    font-size: 12px;
    line-height: 12px;
  }

  .content-info__partners {
    align-items: center;
  }

  .btn--speech {
    order: 2;
  }

  .swiper {
    width: 100%;
    margin: 0;
    /* overflow: initial; */
    height: 150px;
    margin-bottom: 30px;
  }

  .quote {
    padding: 0 16px;
    max-width: 90%;
    margin-left: auto;
  }

  .quote__text {
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .quote__author {
    font-size: 12px;
    margin-top: 4px;
  }

  .footer-wrapper {
    box-sizing: border-box;
    padding-bottom: 94px;
  }

  .logo {
    height: 40px;
  }

  .logo img {
    height: 100%;
    width: auto;
  }

  .btn-about {
    width: 100%;
    max-width: 600px;
  }

  .quote-reviews-wrapper {
    padding: 64px 16px;
  }

  .quote-reviews-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.44px;
    margin-bottom: 40px;
  }

  .quote-reviews-items {
    grid-template-columns: 1fr;
    grid-gap: 48px 0;
  }

  .quote-review-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px
  }

  .quote-review-author {
    padding: 8px 16px;
    max-width: initial;
  }

  .quote-review-author-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .quote-review-author-position {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

}